<p>
  demo-material-datepicker works!
</p>

<div>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<div>
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
  </mat-form-field>
</div>


<div>
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Angular forms" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
</div>


<div>
  <mat-form-field>
    <input matInput [matDatepicker]="picker3" placeholder="Angular forms (w/ deserialization)"
           [formControl]="serializedDate">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>
</div>


<div>
  <mat-form-field>
    <input matInput [matDatepicker]="picker4" placeholder="Value binding" [value]="date.value">
    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
    <mat-datepicker #picker4></mat-datepicker>
  </mat-form-field>
</div>


<div>
  <mat-form-field class="example-full-width">
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker5" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
    <mat-datepicker #picker5></mat-datepicker>
  </mat-form-field>
</div>


<div>
  <div>
    토 일 필터 걸어둔 데이트 date picker
  </div>
  <mat-form-field class="example-full-width">
    <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker6" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
    <mat-datepicker #picker6></mat-datepicker>
  </mat-form-field>
</div>
