<p>
  demo-material works!
</p>


<mat-tab-group>
  <mat-tab label="autocomplete">
    <app-demo-material-autocomplete>
    </app-demo-material-autocomplete>
  </mat-tab>
  <mat-tab label="checkbox">
    <app-demo-material-checkbox>
    </app-demo-material-checkbox>
  </mat-tab>
  <mat-tab label="datepicker">
    <app-demo-material-datepicker>
    </app-demo-material-datepicker>
  </mat-tab>
  <mat-tab label="card">
    <app-demo-material-card>
    </app-demo-material-card>
  </mat-tab>
</mat-tab-group>
