<div class="page-list">
  <mat-card class="card">
    <mat-card-title>Demo Page</mat-card-title>
    <mat-card-content>
      <p>Demo list in page</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="onGoToDemoPage()">go page</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>Community Page</mat-card-title>
    <mat-card-content>
      <p>Community page</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="onGoToCommunityPage()">go page</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>Inbee Page</mat-card-title>
    <mat-card-content>
      <p>Inbee page</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" routerLink="inbee">go page</button>
    </mat-card-actions>
  </mat-card>
</div>
