<div>
  <button mat-raised-button color="accent" routerLink="/demo/material">material</button>
</div>
<div>
  <button mat-raised-button color="accent" routerLink="/demo/firebase">firebase</button>
</div>
<div>
  <button mat-raised-button color="accent" routerLink="/demo/mdb">mdb</button>
</div>
<div>
  <button mat-raised-button color="accent" routerLink="/demo/lottie">lottie</button>
</div>
<div>
  <button mat-raised-button color="accent" routerLink="/demo/font">font</button>
</div>
<div>
  <button mat-raised-button color="accent" routerLink="/demo/form">form</button>
</div>
<div>
  <button mat-raised-button color="accent" routerLink="/demo/ngxs">ngxs</button>
</div>
<div>
  <button mat-raised-button color="accent" routerLink="/demo/routerOutlet">routerOutlet</button>
</div>
<div>
  <button mat-raised-button color="accent" routerLink="/demo/animation">animation</button>
</div>
<div>
  <button mat-raised-button color="accent" routerLink="/demo/elements">element</button>
</div>
<div>
  <button mat-raised-button color="accent" routerLink="/demo/bootstrap">bootstrap</button>
</div>